@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 93%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header{
  width: 100%;
  height: 83vh;
  position: absolute;
  top: 0;
  left: 0;
}

header .wrapper{
  width: 100%;
  height: 100%;
  position: relative;
}

.logo{
  padding: 20px 7%;
}

.logo h1{
  padding: 20px 0 30px 0;
  color: rgb(255,255,255);
  font-size: 57px;
  text-shadow: 0px 3px 2px rgb(0,0,0);
  text-transform: uppercase;
}

.logo p{
  color: rgb(255,255,255);
  font-size: 30px;
  text-shadow: 1px 3px 3px rgb(0,0,0,0.7);
  text-transform: capitalize;
}

nav{
  width: 100%;
  padding: 0 3%;
  position: absolute;
  bottom: 0;
  background: rgb(0,0,0,0.5);
  border-bottom:10px solid rgb(10,88,136);
}

.nav-items{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link{
  padding: 30px 0;
  color: rgb(255,255,255);
  font-size: 25px;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.active-link{
  color: rgb(149,158,171);
}

.nav-link:hover{
  color: rgb(149,158,171);
}





/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* banner start */
.banner .wrapper{
  width: 100%;
}

.banner-img{
  height: 83vh;
}

.banner-img img{
  height: 100%;
}
/* banner end */

/* book-store sec start */

.book-store{
  padding: 0 0 43px 0;
}

.info{
  padding: 75px 0 40px 0;
}

.info-heading{
  padding: 20px 0;
  font-size: 33px;
}

.info-desc{
  padding: 10px 4% 10px 0;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 1px;
}

.book-list{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.books{
  flex-basis: 23%;
  margin: 10px 1%;
}

.book-title{
  text-align: center;
}

.book-link{
  padding: 20px 0;
  color: rgb(0,0,0);
  font-size: 22px;
  transition: all 0.5s ease;
}

.book-link:hover{
  color: rgb(10,88,136);
  transform: scale(1.2);
}

.pages{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.page-list{
  padding: 0 0.3%;
}

.pagelink{
  padding: 18px 24px;
  background: rgb(234,234,234);
  color: rgb(151,147,145);
  transition: all 0.5s ease;
}

.page-list:first-child .pagelink{
  background: rgb(5,89,135);
  color: rgb(255,255,255);
}

.pagelink:hover{
  background: rgb(5,89,135);
  color: rgb(255,255,255);
}

/* book-store sec end */

/* help-sec start */

.help-sec{
  padding-bottom: 79px;
}

.help-sec .wrapper{
  background: rgb(7,101,153);
  display: flex;
  flex-wrap: wrap;
}

.image-box{
  padding: 95px 68px 30px 0;
  flex-basis: 30%;
  display: flex;
  justify-content: end;
}

.help-para{
  padding: 30px 0 30px 0;
  flex-basis: 70%;
  color: rgb(255,255,255);
}

.help-heading{
  padding: 50px 0 25px 0;
  font-size: 40px;
  text-transform: capitalize;
}

.help-desc{
  padding: 0 10% 0 0;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1px;
}

.help-btn{
  padding: 35px 0;
}

.help-btn a{
  padding: 19px 4%;
  border: 1px solid rgb(255,255,255);
  color: rgb(255,255,255);
  font-size: 23px;
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.help-btn a:hover{
  color: rgb(7,101,153);
  background: rgb(255,255,255);
}

/* help-sec end */







/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 


footer{
  background: rgb(51,51,51);
  color: rgb(249,241,244);
}

footer .wrapper{
  padding: 25px 0;
  display: flex;
  justify-content: center;
}

.copyright{
  font-size: 23px;
}




 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}   

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  /* books-store sec start */

  .books {
    flex-basis: 31%;
    margin: 10px 1.1%;
  }

  /* books-store sec end */

  .image-box {
    flex-basis: 100%;
    justify-content: center;
  }

  .help-para {
    padding: 30px 7%;
    flex-basis: 100%;
  } 

}   